// Svenka Kronor > Euro (10-5-18)
#include<iostream>
using namespace std;
int main()
{
setlocale (LC_ALL,"");
	int kr,sum,eu,stopp;
	cout << endl << "	SWE Kr > Euro : ";
	cin >> kr;
	eu = kr / 10.45;
	cout << "	euro : " << eu << endl << "	kr :  " << kr << endl;
cin>>stopp;
return 0;
}
